/* mobile */
@media (max-width: 600px) {
  body {
    width: 100%;
    margin: auto;
    margin: 0;
    /* margin-top: 60px; */
  }

  #toggle-mode {
    margin-right: 15px;
    /* padding-right: 10px; */
    margin-top: 15px;
  }

  #back-to-top-button {
    right: 10px;
    bottom: 10px;
    display: none !important;
  }

  #home {
    height: 100vh;
    justify-content: center;
  }

  #home #name,
  #home #short-bio,
  #home #socials {
    margin-left: 10px;
  }

  .primary,
  .secondary,
  .tertiary {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  }

  .page-header {
    width: 100%;
  }

  .title {
    transform: rotate(0deg);
    width: auto;
    height: auto;
    text-align: left;
    position: relative;
    top: 0;
    padding-top: 30px;
    margin-left: 10px;
  }

  .container {
    width: calc(100% - 30px);
    /* margin-top: 0px; */
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 60px;
  }

  .experience-header {
    /* background: black; */
    width: 100%;
    height: auto;
    flex-direction: column;
    z-index: 10;
    padding: 15px 0px;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .experience-header h3,
  .highlight {
    margin-bottom: 10px;
  }

  .experience-box {
    height: 500px;
    /* top: 30px; */
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .experience-text {
    margin: 40px 20px;
  }

  #projects {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
  }

  .project img {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  #aboutme {
    width: 100%;
    height: 110vh;
  }

  .aboutme-text {
    margin: 30px 10px;
  }

  .aboutme-img {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* padding: 30px 0px; */
    padding: 0px;
    display: grid;
    grid-template-columns: 48.75% 48.75%;
    column-gap: 7px;
    margin: auto;
  }

  .aboutme-img img {
    width: 100%;
    height: auto;
  }

  .aboutme-img img:hover,
  .aboutme-img img:focus {
    opacity: 1;
  }

  .aboutme-img p {
    display: none;
    /* width: calc(100%-60px); */
  }

  footer {
    padding: 20px 10px;
    justify-content: center;
  }
}