/* mobile */
@media (max-width: 600px) {
  body {
    width: 90%;
    margin: auto;
    margin: 60px 0px;
  }

  #toggle-mode {
    margin-right: 5px;
    margin-top: 0px;
  }

  #back-to-top-button {
    right: 5px;
    bottom: 5px;
  }

  #home #name,
  #home #short-bio,
  #home #socials {
    margin-left: 5px;
  }

}