/* tablet */
@media (max-width: 1300px) {
  body {
    width: 100%;
    margin: auto;
    margin: 0;
    /* margin-top: 60px; */
  }

  #toggle-mode {
    margin-right: 30px;
    /* padding-right: 10px; */
    margin-top: 15px;
  }

  #back-to-top-button {
    right: 10px;
    bottom: 10px;
    display: none !important;
  }

  #home {
    height: 100vh;
    justify-content: center;
  }

  #home #name,
  #home #short-bio,
  #home #socials {
    margin-left: 30px;
  }

  .icon {
    padding-right: 20px;
    margin: 0;
  }

  /* .primary,
  .secondary,
  .tertiary {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  } */

  .page-header {
    width: 15%;
    min-width: 150px;
    margin-right: 20px;
  }

  /* .title {
    transform: rotate(0deg);
    width: auto;
    height: auto;
    text-align: left;
    position: relative;
    top: 0;
    padding-top: 30px;
    margin-left: 10px;
  } */

  .title {
    width: 250px;
    height:200px;
    padding-left: 100px;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 85%;
    max-width: 1000px;
    padding-bottom: 60px;
    padding-right: 30px;
  }

  /* .experience-header {
    width: 100%;
    max-width: 800px;
    height: auto;
    flex-direction: column;
    z-index: 10;
    padding: 15px 0px;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  } */

  .experience-header {
    /* font-size: 0.7em; */
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    padding: 10px 30px;
  }

  .experience-header h3,
  .highlight {
    padding: 15px 0px;
    /* width: auto;
    height: auto; */
  }

  

  .experience-box {
    height: 500px;
    /* top: 30px; */
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .experience-text {
    margin: 140px 20px 80px 20px;
  }

  /* #projects {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  } */

  .project {
    width: 100%;
  }

  /* .project img {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 20px;
  } */

  #aboutme {
    width: 100%;
    height: 75vh;
    justify-content: flex-start;
  }

  .aboutme-text {
    margin: 30px 30px;
  }

  /* .aboutme-img {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 48.75% 48.75%;
    column-gap: 7px;
    margin: auto;
  } */

  .aboutme-img {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  .aboutme-img div {
    width: 25%; 
    padding: 0px 5px;
  }

  .aboutme-img img {
    width: 100%;
    height: auto;
  }

  .aboutme-img img:hover,
  .aboutme-img img:focus {
    opacity: 1;
  }

  .aboutme-img p {
    display: none;
    /* width: calc(100%-60px); */
  }

  footer {
    padding: 20px 10px;
    justify-content: center;
  }
}